:root {
    --primary-text-color: #757575;
    --secondary-title-color: #fff; 
    --primary-title-color: #212121;
    --accent-color: #2196F3;
    --footer-bckg-color: #2F303A;
    --primary-bg-color: #eeeeee;
    --oppasity-white: rgba(255, 255, 255, 0.6);
    --head-border: #ececec;
    --customer-border: #AFB1B8;
    --card-bg-color: #F5F4FA;
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html{
    box-sizing: border-box;
}
    *,
    *::before,
    *::after{
        box-sizing: inherit;
}
body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Helvetica, Ubuntu, noto, arial, sans-serif;
    background-color: var(--secondary-title-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

ul,
p,
h1,
h2,
h3,
address{
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary-title-color);
    text-decoration: none;

    transition: color 250ms var(--timing-function),
                fill 250ms var(--timing-function);

}

.box{
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
img {
    display:block;
}


.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav li:not(:last-child){
    margin-right: 50px;
}

.site-nav .menu-link{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contacts{
    display: flex;
    margin-left: auto;
}

.e-mail{
    display: block;
    padding: 0;
    border: none;

    display: flex; 
    align-items: center;
}

.mail-link{
    width: 16px;

    fill: var(--primary-text-color);
}

.page-active{
    color: var(--accent-color);

}

.mail-link:hover,
.mail-link:focus{
    fill: var(--accent-color)
}

.tel-link{
    display: block;
    padding: 0;
    border: none;
    
    display: flex;
    align-items: center;

    fill: var(--primary-text-color);

    transition: fill 250ms var(--timing-function);
}

.tel-link:hover,
.tel-link:focus{
    fill: var(--accent-color)
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons .social-icons-link:hover .icon,
 .social-icons .social-icons-link:focus .icon{
   fill: var(--secondary-title-color);    
} 

.social-icons-link{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);
}

.social-icons-link:hover,
.social-icons-link:focus{
    width: 44px;
    height: 44px;

    background-color: var(--accent-color);
    border-radius: 50%;

}

.social-icons-item + .social-icons-item{
    margin-left: 10px;
}

.contacts a{
    color: var(--primary-text-color);
}

.contacts li + li{
    margin-left: 50px;
}

.contacts li + li{
    margin-left: 50px;
}

.list{
    list-style: none;
}

.page-header{
    background-color: var(--secondary-title-color);
    border-bottom: 1px solid var(--head-border);
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.nav-header{
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;   
    color: var(--primary-title-color); 
    transition: color 250ms var(--timing-function);
}

.web-logo{
    color: var(--accent-color);
}

.page-header a:hover,
.page-header:focus{
  color: var(--accent-color);  
}

.list-header{
    font-weight: 500;
}

.icon-mail{
    width: 16px;
    height: 12px;

    margin-right: 10px;
}

.icon-tel{
    width: 10px;
    height: 16px;
    
    margin-right: 10px;
}

.overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-min.jpg");
    align-content: space-between;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.padding-section{
    padding-bottom: 94px;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-title-color);

    margin-top: 0;
    margin-bottom: 50px;
}

.sub-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-title-color);

    margin-top: 0;
    margin-bottom: 10px;
}

.feature-list{
    display: flex;
    justify-content: space-between;
}

.features:last-child{
    margin-right: 0;
}

.feature-card{
    padding-top: 30px;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 30px;
}

.features:nth-child(2)::before{
    background-image: url(../images/icon/clock.svg);
}

.features:nth-child(3)::before{
    background-image: url(../images/icon/diagram.svg);
}

.features:nth-child(4)::before{
    background-image: url(../images/icon/astronaut.svg);
}

.features .icon-feature {
    display:flex;
    padding: 0;
    justify-content: center;
    align-items: baseline;
} 

.feature-item{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;

    background-color: var(--card-bg-color);
    border-radius: 4px;
}

.icon-feature{
    margin-top: 70px;
    margin-left: 70px;
}
 
.text{
    font-size: 14px;
    line-height: 1.71;
}

.work-menu{
    position: relative;
}

.box-text{
    position: absolute;
    bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 100%;

    background-color: rgba(47, 48, 58, 0.8);
}

.menu-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* .list {
    position: relative;
} */

.list-box{
    position:relative;
    left: 0;
    bottom: 0;
}

.label{
    position: absolute;
    display: block;
    width: 100%;
    height: 70px;

    padding-top: 27px;

    /* left: 215px;
    top: 1435px; */
    background-color: rgba(47, 48, 58, 0.8);
  
    /* transition: opacity 250ms var(--timing-function); */
   
}

 .list .label:hover{
    opacity: 0;
} 

.label-img {
    cursor: pointer;
}



.text-label{
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}


.name-title{
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.name-box{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--secondary-title-color);
}

.work{
    display: flex;
}

.work li + li{
    margin-left: 30px;
}
.social-bg{
    background-color:  #F5F4FA;
}
.section-card{
    display: flex;
}

.section-card div + div{
    margin-left: 30px;
}

.post-item{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.customer{
    display: flex;
    justify-content: space-between;
}

.customer-title{
    margin-bottom: 50px;
}

.customer-regular{
    border: 1px solid var(--customer-border);
    border-radius: 4px;
    width: 170px;
    height: 92px;
}

.customer-regular:hover,
.customer-regular:focus{
    border: 1px solid var(--accent-color);
}

.icon-customer{
    width: 106px;
    height: 60px; 
}

.customer-icons-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    fill: var(--customer-border);
}

.customer .customer-icons-link:hover,
.customer .customer-icons-link:focus{
    fill: var(--accent-color);
}

.footer{
    display: block;
    background-color: var(--footer-bckg-color);
    color: var(--secondary-title-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .oppasity a{
    color: var(--oppasity-white);
}

.footer a{
    color: var(--primary-bg-color);
}

.list-footer {
    margin-bottom: 9px;
}

.oppasity{
    color: var(--oppasity-white)
}

.icon-footer{
    width: 20px;
    height: 20px;
    margin-right: 10px;

    border: none;
    padding: 0;
    margin: 0;

    fill: var(--secondary-title-color);
}

.footer-social{
    margin-left: 70px;
}

.footer-social-icons-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms var(--timing-function);
}

.footer-social .footer-social-icons-link:hover,
 .footer-social .footer-social-icons-link:focus{
    width: 44px;
    height: 44px;

    background-color: var(--accent-color);
    border-radius: 50%;
    fill: var(--primary-bg-color);

} 

 a:hover,
 a:focus{
    color: var(--accent-color);
}

.footer .oppasity a:hover,
.footer .oppasity a:focus{
   color: var(--accent-color);
}

.footer a:hover,
.footer a:focus{
    color: var(--accent-color);
} 

.adress{
    margin-bottom: 9px;
}

 .logo .footer{
    margin-bottom: 20px;
}

.footer-conect{
    
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase
}

.footer-container{
    display: flex;
}

.social-net{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;

    border: none;
    padding: 0;
    margin: 0;

    fill: var(--customer-border);
}

.hero-title{
    color: var(--secondary-title-color);
    margin-top: 0;
    margin-bottom: 30px;
    padding: 200px 0;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
   
}
.button {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.625;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 6px 22px;
    align-content: center;
    border: none;

    transition: color 250ms var(--timing-function),
                background-color 250ms var(--timing-function);
}

.order{
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
   
    margin: 0 auto;
    display: block;
    outline: none;

    
    color: var(--secondary-title-color);
    background-color: var(--accent-color);

    border-radius: 4px;
}

.button:hover,
.button:focus{
    color: var(--secondary-title-color);
    background-color: var(--accent-color);

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.item-card{
    background-color: var(--secondary-title-color);

    width: 270px;
    margin-right: 30px;


    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.item-card:last-child{
    margin-right: 0;
}


.name-title {
    margin-bottom: 10px;
}

.list-item{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
}

.text-list-item{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}

address{
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 9px;
}

.portfolio-nav{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-element{
    position: relative;
    width: calc((100% - 60px) / 3) ;
    /* width: 370px; */
    background-color: var(--secondary-title-color);
    border: 1px solid var(--primary-bg-color);

    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-element:nth-child(3n){
    margin-right: 0;
}

.portfolio-element:nth-last-child(-n +3){
    margin-bottom: 0;
}


.portfolio-nav li + li{
    margin-left: 8px;
}

.portfolio-description{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #fff;
}

.portfolio-link{
    width: 370px;
    height: 404px;
    
}

.portfolio-element:hover,
.portfolio-element:focus{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

}

.portfolio-card{
    display: block;
    width: 370px;
    height: 294px;
    overflow: hidden;
    opacity: 0;
}

.portfolio-img{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay{
    position: absolute;
        
    left: 0;
    top: 0;

    padding: 63px 24px;

    width: 100%;
    height: 294px;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
    
}

.portfolio-link:hover .portfolio-overlay{
    transform: translateY(0);
}

.portfolio-text{
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    color: #fff;
}

.text-list-item{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}

.list-item{
    margin-bottom: 4px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color:var(--backdrop-color);
    opacity: 1;
    transition: opacity 500ms ease-out 200ms;
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-hidden .modal{
    transform: translate(100%, 50%) scale(0.3);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 528px;
    min-height: 581px;
    /* padding: 8px 8px; */
    background-color: var(--secondary-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms ease-in-out 200ms;  
}

.btn-close{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #ececec;
    background-color: transparent;
    fill: rgb(255, 94, 0);
}

