.menu-link{
    position: relative;
    }
    
    .menu-link::after{
        position: absolute;
        bottom: -25px;
        left: 0;
        display: block;
        content: '';
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
    
        background-color: var(--accent-color);
        display: none;
    
        opacity: 0;
        transition:  opacity 250ms var(--timing-function);
    }
    
    .menu-link:hover::after{
    display: block;
    opacity: 1;
    
    }
    .active::after{
        position: absolute;
        bottom: -25px;
        left: 0;
        display: block;
        content: '';
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
    
        background-color: var(--accent-color);
    
        opacity: 1;
        transition:  opacity 250ms var(--timing-function);
    }
    